# default.conf.template

server {
    listen       443 ssl;
    server_name  localhost;

    ssl_certificate /etc/nginx/ssl/nginx-selfsigned.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx-selfsigned.key;

    location / {
        # Define the behavior for requests here
        # Use sub_filter to dynamically replace occurrences of 'https://deepfence' with 'https://toae' and vice versa
        sub_filter 'https://deepfence' 'https://toae';
        sub_filter 'https://toae' 'https://deepfence';
        sub_filter_once off;

        # Add additional configuration as needed
    }
}
