# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea
.DS_Store
.vscode
dev
dev2
!/toae_frontend/.vscode/
toae_frontend/console_version.txt
toae_frontend/product_version.txt

toae_agent/tools/apache/scope/proto/
toae_agent/tools/apache/scope/vendor/

toae_server/vendor
toae_worker/vendor

toae_server/toae_server
toae_worker/toae_worker

toae_bootstrapper/vendor
toae_bootstrapper/toae_bootstrapper

openapi.json
openapi.yaml

toae_ctl/toaectl
toae_ctl/vendor

.pnpm-store

go.work*

./pkg/
toae_agent/tools/apache/scope/docker/toaeutil
toae_agent/tools/apache/scope/docker/toae_exe
toae_agent/tools/apache/scope/docker/toae
toae_agent/tools/apache/toae/df-utils/get_cloud_instance_id/getCloudInstanceId
